<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uhSabadu</title>
</head>
<body>
    <header>
        
    </header>
    <main>

    </main>
    <footer>
        <section>
            <strong>CONTACTO</strong>
        </section>
        <section>
            <strong>HORARIOS DE ATENCION</strong>
        </section>
        <section>
            <strong>NUESTRAS REDES</strong>
        </section>
        <section>
            <strong>METODOS DE PAGO</strong>
        </section>
        <section>
            <strong>FAQ</strong>
        </section>
    </footer>
</body>
</html>