<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>uhSabadu</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
  </head>

  <body>
    <header>
      <div class="header">
        <img src="/images/logo.png" alt="Logo" />

        <div class="search-bar">
          <input type="text" placeholder="Buscar productos, marcas" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="buttons">
          <div>
            <i class="fa-solid fa-user-large"></i>
            <a href="/login.html">Login</a>

            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/productCart.html">Carrito</a>
          </div>
        </div>
      </div>
      <div class="burguer-menu">
        <i class="fas fa-bars"></i>
        <strong>Categorias</strong>
      </div>
    </header>
    <main>
      <div class="slider">
        <img src="/images/carru1.jpg" alt="Imagen 1" />
        <img src="/images/carru2.jpg" alt="Imagen 2" />
        <img src="/images/carru3.jpg" alt="Imagen 3" />
        <img src="/images/carru4.jpg" alt="Imagen 4" />
        <img src="/images/carru5.jpg" alt="Imagen 5" />
        <img src="/images/carru6.jpg" alt="Imagen 6" />
      </div>
    </main>
    <footer>
      <section class="CONTACTO">
        <strong>CONTACTO</strong>
        <ul>
          <li>Libertad N20 - Ciudad de Nieva - Jujuy</li>
          <li>Av Jujuy 1234 - Centro - Salta</li>
          <li>388-5489123 / 387-6423784</li>
        </ul>
      </section>
      <section class="HORARIOS">
        <strong>HORARIOS DE ATENCION</strong>
        <ul>
          <li>Lunes a Viernes 09:00 a 13:00 / 17:00 a 21:00</li>
        </ul>
      </section>
      <section class="REDES">
        <strong>NUESTRAS REDES</strong>
        <div id="img__redes"><img src="/images/redes.svg" alt="fondo" /></div>
      </section>
      <section class="METODOS">
        <strong>METODOS DE PAGO</strong>
        <ul>
          <li>Efectivo</li>
          <li>Mercado Pago</li>
          <li>Transferencias bancarias</li>
          <li>Tarjetas de crédito</li>
        </ul>
      </section>
      <section class="FAQ">
        <strong> <a href="">FAQ</a></strong>
      </section>
    </footer>
  </body>
</html>
