<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uhSabadu</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <header>
        
        
    </header>
    <main>

    </main>
    <footer>
        <div id="sticky_back"> <img src="/images/fondo1.png" alt="fondo" ></div>
        <section>
            <strong>CONTACTO</strong>
            <ul>
                <li>
                    Libertad N20 - Ciudad de Nieva - Jujuy
                </li>
                <li>
                    Av Jujuy 1234 - Centro - Salta
                </li>
                <li>
                    388-5489123 / 387-6423784
                </li>
            </ul>
        </section>
        <section>
            <strong>HORARIOS DE ATENCION</strong>
            <ul>
                <li>
                    Lunes a Viernes 09:00 a 13:00 /
                    17:00 a 21:00
                </li>
            </ul>
        </section>
        <section>
            <strong>NUESTRAS REDES</strong>
        </section>
        <section>
            <strong>METODOS DE PAGO</strong>
            <ul>
                <li>
                    Efectivo
                </li>
                <li>
                    Mercado Pago
                </li>
                <li>
                    Transferencias bancarias
                </li>
                <li>
                    Tarjetas de crédito
                </li>
            </ul>
        </section>
        <section>
            <strong>FAQ</strong>
        </section>
    </footer>
</body>
</html>