<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
  </head>
  <body>
    <div class="login">
      <form method="post">
        <h1>Login</h1>
        <hr />
        <h3>Ingresá tu nombre de usuario y contraseña.</h3>

        <div class="username">
          <h4>Username</h4>
          <input type="text" placeholder="Ingresá tu usuario." />
        </div>
        <div class="password">
          <h4>Contraseña</h4>
          <input type="password" placeholder="Ingresá tu contraseña" />
        </div>
        <a href="/recuperarContrasenia"><h6>¿Olvidaste la contraseña?</h6></a>

        <button type="submit" formaction="/">Iniciar Sesión</button>
      </form>
    </div>
  </body>
</html>
