<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uhSabadu</title>
    <link rel="stylesheet" href="css/productDetail_style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <header>
        <div class="header">
            <img src="/images/logo.png" alt="Logo" />

            <div class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas" />
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <div class="buttons">
                <div>
                    <i class="fa-solid fa-user-large"></i>
                    <a href="/login.html">Login</a>

                    <i class="fa-solid fa-cart-shopping"></i>
                    <a href="/productCart.html">Carrito</a>
                </div>
            </div>
        </div>
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section class="main_img_principal">
            <img class="img_lateral2" src="images/img_principal.png" alt="pc prueba">
        </section>
        <section class="main_img_lateral">
            <img class="img_lateral" src="images/lateral1.webp" alt="imagen lateral">
            <img class="img_lateral" src="images/lateral2.webp" alt="imagen lateral">
            <img class="img_lateral" src="images/lateral3.webp" alt="imagen lateral">
            <img class="img_lateral" src="images/lateral4.webp" alt="imagen lateral">
        </section>
        <section class="main_otros">

        </section>
        <section class="main_caracteristicas">
            <div class="features1">CARACTERISTICAS GENERALES
                <div class="features1_left">
                    <ul>
                        <li>Color</li>
                        <li>Sistema Operativo</li>
                        <li> Tipo De Cpu</li>
                        <li> Tipo De Gpu</li>
                        <li> Batería Extraible</li>
                        <li> Modelo Gpu</li>
                        <li> Modelo Cpu</li>
                        <li> Tipo</li>
                        <li> Memoria Gpu</li>
                        <li> Lector De Huellas</li>
                        <li> Familia Del Procesador</li>
                    </ul>
                </div>
                <div class="features1_value">
                    <ul>
                        <li>Negro</li>
                        <li>Windows 11 Home</li>
                        <li>Intel</li>
                        <li>Nvidia GeForce</li>
                        <li>No</li>
                        <li>GTX 1650</li>
                        <li>Core i5 10300H</li>
                        <li>Notebook</li>
                        <li>4 gb</li>
                        <li>No</li>
                        <li>Intel Core i5</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <strong>CONTACTO</strong>
            <ul>
                <li>
                    Libertad N20 - Ciudad de Nieva - Jujuy
                </li>
                <li>
                    Av Jujuy 1234 - Centro - Salta
                </li>
                <li>
                    388-5489123 / 387-6423784
                </li>
            </ul>
        </section>
        <section>
            <strong>HORARIOS DE ATENCION</strong>
            <ul>
                <li>
                    Lunes a Viernes 09:00 a 13:00 /
                    17:00 a 21:00
                </li>
            </ul>
        </section>
        <section>
            <strong>NUESTRAS REDES</strong>
            <div id="img__redes"> <img src="/images/redes.svg" alt="fondo"></div>
        </section>
        <section>
            <strong>METODOS DE PAGO</strong>
            <ul>
                <li>
                    Efectivo
                </li>
                <li>
                    Mercado Pago
                </li>
                <li>
                    Transferencias bancarias
                </li>
                <li>
                    Tarjetas de crédito
                </li>
            </ul>
        </section>
        <section>
            <strong>FAQ</strong>
        </section>
    </footer>
</body>

</html>