* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background-image: url("/images/fondo1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    margin: 2% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar input {
    padding: 5px 40px;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;

    & div {
        margin-left: 10px;
    }

    & a {
        text-decoration: none;
        color: black;
    }

    & i {
        margin-left: 5px;
    }
}

main {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    left: 0px;
    top: 20px;
    height: 520px;
    width: 750px;
    flex-direction: row;
    margin-left: 5px;
}

.main_img_principal {
    position: relative;
    left: 35px;
    top: 0px;
    height: 50px;
    width: 50px;
}

.main_img_lateral {
    position: relative;
    order: -1;
    flex-direction: column;
    height: 250px;
    width: 50px;
}

.img_principal {
    height: 210px;
    width: 280px;
}

.img_lateral {
    height: 50px;
    width: 80px;
}

main ul {
    list-style-type: none;
}

.main_caracteristicas {
    display: flex;
    position: relative;
    flex-direction: column;
    left: -80px;
    top: 240px;
    
}

.features1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.features1_value {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: right;
}

footer {
    display: flex;
    position: relative;
    left: 0px;
    bottom: 0px;
    flex-direction: column;
}

footer section {
    flex-direction: column;
    align-items: center;
    margin: 15px;
    text-align: center;
}

footer ul {
    list-style-type: none;
}