* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url("/images/fondo1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
/*
.carru1 {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.carru1 img {
  height: 50%;
  width: 40%; 
  object-fit: cover;
  transition: transform 0.5s ease;
}*/
.ofertas {
  display: flex;
  overflow: hidden;
}
.ofertas img {
  height: auto;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.header {
  margin: 2% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar input {
  padding: 5px 60px;
  border: 1px solid black;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  & div {
    margin-left: 10px;
  }
  & a {
    text-decoration: none;
    color: black;
  }
  & i {
    margin-left: 5px;
  }
}

.burguer-menu {
  display: flex;
  margin-left: 2%;
  & i {
    font-size: 26px;
  }
  & strong {
    margin-left: 15px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

footer section {
  display: flex;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  text-align: center;
}

.slider {
  aspect-ratio: 16 / 9;
  width: 65vw;
  position: relative;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}
.slider img {
  width: 100%;
  left: 0;
  position: sticky;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
}
